

<!-- <router-outlet></router-outlet> -->

<style>
  .gradient-custom {
    /* fallback for old browsers */
    background: #a18cd1;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      45deg,
      rgba(29, 236, 197, 0.6),
      rgba(91, 14, 214, 0.6) 100%
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
      45deg,
      rgba(29, 236, 197, 0.6),
      rgba(91, 14, 214, 0.6) 100%
    );
  }
</style>

<!-- Background image -->
<div
  class="bg-image bg-opacity-10"
  style="
    background-image: url('https://st2.depositphotos.com/1071909/7421/i/600/depositphotos_74218459-stock-photo-human-resources-recruitment.jpg');
    height: 100vh;
  "
>
  <div class="mask gradient-custom">
    <div class="h-100" style="margin: 200px;">
      <h1 class="text-white mb-0">Hello Worker,</h1><br />
      <h1 class="text-white mb-0">Welcome to Ari Tech</h1>
    
    </div>
  </div>
</div>
<!-- Background image -->
